In [1]:
import pandas as pd
from sqlalchemy import create_engine, text
import matplotlib as plt
import seaborn as sns
import re 
import numpy as np

In [2]:
database_name = 'prescriptions'

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [3]:
engine = create_engine(connection_string)

In [4]:
query = 'SELECT * FROM drug'

In [5]:
with engine.connect() as connection:
    drug = pd.read_sql(query, con = connection)

# 1. Deaths over time.
###  a. How has total overdose deaths changed over time?

In [7]:
overdosedeaths = '''SELECT 
                        overdose_deaths,
                        year
                    FROM overdose_deaths'''
with engine.connect() as connection:
    overdosedeaths = pd.read_sql(overdosedeaths, con = connection)
overdosedeaths.groupby(['year']).sum('over_dose_deaths')

      overdose_deaths
year
2015             1033
2016             1186
2017             1267
2018             1304

###  b. How have overdose deaths changed over time for Davidson and Shelby counties.

In [14]:
overdosedeathsb = '''SELECT 
                        *
                    FROM overdose_deaths'''
with engine.connect() as connection:
    overdosedeathsb = pd.read_sql(overdosedeathsb, con = connection)
overdosedeathsb

     overdose_deaths  year  fipscounty
0                135  2015       47157
1                150  2016       47157
2                159  2017       47157
3                123  2018       47157
4                122  2015       47093
..               ...   ...         ...
375                0  2018       47017
376                1  2015       47007
377                2  2016       47007
378                2  2017       47007
379                3  2018       47007

[380 rows x 3 columns]

In [16]:
fips_countyb = '''SELECT
                    county,
                    fipscounty
                    FROM fips_county'''
with engine.connect() as connection:
    fips_countyb = pd.read_sql(fips_countyb, con = connection)
fips_countyb

         county fipscounty
0       AUTAUGA      01001
1       BALDWIN      01003
2       BARBOUR      01005
3          BIBB      01007
4        BLOUNT      01009
...         ...        ...
3267    VIEQUES      72147
3268   VILLALBA      72149
3269    YABUCOA      72151
3270      YAUCO      72153
3271  STATEWIDE      72990

[3272 rows x 2 columns]

In [18]:
fips_countyb['fipscounty'] = fips_countyb.fipscounty.astype('int')

In [20]:
od_county = pd.merge(overdosedeaths, fips_countyb,
                                    on = 'fipscounty',
                                           how = 'inner')
od_county

KeyError: 'fipscounty'

###  c. Are there any counties in which overdose deaths are trending downward?

# 2. Spending on opioids
###  a. What is the correlation between spending on opioids and overdose deaths?
###  b. What is the ratio for spending on opioid vs non-opioid prescriptions?
###  c. Are those who spend a higher ratio on opioids suffering from more deaths?

# 3. Per Capita
###  a. Which county has the highest overdose deaths per capita?
###  b. Which county has the most spending overall per capita?
###  c. Which county has the most spending on opioids per capita?

# 4. Unemployment
### a. Is there a correlation between unemployment rate and overdose deaths?
### b. Is there a correlation between unemployment and spending on opioids?

# 5. Top prescribers
###  a. Where are the top 10 opioid prescribers located?
###  b. Who is the top prescriber in each county?
###  c. What proportion of opioids are prescribed by the top 10 prescribers?  Top 50? Top 100?

# 6. Nashville - Davidson County
###  a. Which zip codes in Davidson County have the most opioids prescribed?
###  b. Any correlation between the number of missed trash pick ups and number of opioids prescribed?